<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.withwheel">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WithWheel">
        <activity
            android:name=".mypage"
            android:exported="false" />
        <activity
            android:name=".setting"
            android:exported="false" />
        <activity
            android:name=".route"
            android:exported="false" />
        <activity
            android:name=".review"
            android:exported="false" />
        <activity
            android:name=".rental_charge"
            android:exported="false" />
        <activity
            android:name=".like_it"
            android:exported="false" />
        <activity
            android:name=".res_information"
            android:exported="false" />
        <activity
            android:name=".res_search"
            android:exported="false" />
        <activity
            android:name=".map_search"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="kju7s5d1h8" />

        <activity android:name=".LoginActivity" android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegisterActivity" />
        <activity android:name=".tabHost"/>

    </application>



</manifest>